<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    {{title}}
      <!-- <button class="btn btn-outline-dark btn-lg" routerLink="/">{{title}}!</button> -->
  </h2>
  <hr>
</div>

<!-- <button class="btn btn-primary" routerLink="/">Home</button> -->

<button routerLink="/expenses" class="btn btn-success">Dodaj...</button>
<button routerLink="/e-list2" class="btn btn-outline-primary">Lista Wydatków</button>
<!-- <button class="btn btn-outline-secondary" routerLink="/s-chart">Wykres</button> -->
<!-- <button disabled routerLink="/container" class="btn btn-outline-secondary">Container</button> -->

<!-- <button routerLink="/chart1" class="btn btn-outline-secondary">Chart1</button> -->
<button routerLink="/chart-update2" class="btn btn-warning">Wykresy</button>
<span class="rightButton">testowe:</span> 
<button routerLink="/e-list" class="btn btn-outline-primary">lista testowa</button>
<button routerLink="/pie" class="btn btn-outline-primary">pie</button>
<button routerLink="/chart2" class="btn btn-outline-primary">chart2</button>
<button routerLink="/chart-update" class="btn btn-outline-secondary">chartUpdate</button>

<!-- <button routerLink="/expense-list2">List2</button> -->

<toaster-container  [toasterconfig]="configRight"></toaster-container>

<router-outlet></router-outlet>

