.item {
    padding: 0 5px;
    margin: 0px auto;
    background-color: #d3f1f3;
}

.total {
    /* background-color: #eb7b7b; */
    margin: 0 0 20px 0;
}

.strike {
    text-decoration-line: line-through;
}

.block {
    width: 100%;
}

.inner #stateDiv {
    height: 0px;
    overflow: hidden;
    /* border: 1px solid rgba(0, 0, 0, 0.055); */
    /* background-color: rgba(116, 114, 114, 0.185); */
    
 }

 .header {
     font-size: 12px;
     padding: 2px;
     font-weight: bold;
     font-weight: 800;
     text-transform: uppercase;
     background-color: #ffffff;
     /* margin: 0px 0; */
     padding: 5px 2px;
 }

 .top {
    font-size: 10px;
    color: red;
}

.left {
    float: left;
    margin: 0 150px 0 0;
    /* background-color: #784512; */
}

.top5 {
    margin-top: 5px;
}

.narrow {
    min-width: 35px;
    max-width: 40px;
    /* background-color: #753159; */
}

/* .row:hover {
    background-color: #b2cdd4;
    cursor: pointer;
} */

.btn-sm {
    /* margin: 10px; */
    padding: 0px 10px;
}

.secondary {
    color: #6C757D;
}

.primary {
    color: #007BFF;
}

.danger {
    color: #DC3545;
}