<button (click)='animateMe()' class="btn btn-outline-primary block top5">
  <span class="left">data: {{currentDate}} |
    <strong>{{totalPrice}} zł</strong>
  </span>


  <!-- <span class="top"> {{highest.name}} {{highest.price}}</span> -->
  <!-- <span class="badge badge-secondary badge-pill">
    {{sectionBills.length}}
  </span> produktów -->
  {{sectionBills.length}} produktów
</button>

<div class="inner">
  <div [@detailsanimation]='state' id="stateDiv" class="item">

    <div class="row header">

      <div class="col col-sm-3 mk1">
        <button (click)='byCategory()' class="btn btn-outline-danger btn-sm">
          kategoria
        </button>
      </div>

      <div class="col col-sm-3 mk2">
        <button (click)='bySum()' class="btn btn-outline-primary btn-sm">
          w sumie
        </button>
      </div>

      <div class="col col-sm-6 mk3">wykres</div>
      
    </div>

    <div class="row">
      <div class="col">

        <div *ngFor="let bill of sectionBills">
          <div class="row m4">

            <div class="col mk1">
              <span class="danger">{{bill.type}}</span>
            </div>

            <div class="col mk2">
              <span class="primary">{{bill.sum}} zł</span>
            </div>

          </div>
        </div>
      </div>
      <div class="col mk3">
        <!-- <pie-container3 [incoming]="testData"></pie-container3> -->
        <pie-labeled-container [incoming]="testData"></pie-labeled-container>
      </div>

    </div>
  </div>
