<!-- <div class="row">
  <div class="col">{{date}} {{time}}</div>
  <div class="col">{{bill.name}}</div>
  <div class="col">{{bill.price}}</div>
  <div class="col">{{bill.extra}}</div>
</div> -->

<!-- <div *ngFor="let bill of bills">
  <div class="row">
    <div class="col">{{bill.date}} {{bill.time}}</div>
    <div class="col">{{bill.name}}</div>
    <div class="col">{{bill.price}}</div>
  </div>
</div> -->
<div class="row">
  <div class="col">{{date}}</div>
  <div class="col">elements: <strong>{{counter}}</strong></div>
  <div class="col">total: <strong>{{total}}</strong></div>
  </div>
