<button (click)='animateMe()' 
  class="btn btn-outline-primary block top5">
  <span class="left">{{currentDate}} 
  | <strong>{{totalPrice}} zł</strong></span>
  | <span class="top"> {{highest.name}} {{highest.price}}</span> 
  | items: {{dailyBills.length}}
</button>

<div class="inner">
  <div [@detailsanimation]='state' 
    id="stateDiv" class="item" >
    <div class="row header">
      <div class="col">produkt</div>
      <div class="col">cena</div>
      <div class="col">gdzie</div>
    </div>
    <div *ngFor="let bill of dailyBills">
      <div class="row">
        <!-- <div class="col">{{bill.date}}</div> -->
        <div class="col">{{bill.name}}</div>
        <div class="col">{{bill.price}} zł</div>
        <div class="col">{{bill.extra}}</div>
      </div>
    </div>
  </div>
  
  <!-- <div class="row total">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">total: {{totalPrice}}</div>
    <div class="col"></div>
  </div> -->
</div>
