
.d3-chart {
    width: 100%;
    height: 340px;
    /* background-color: rgb(201, 201, 201); */
  }
  
  .d3-chart .axis path,
  .d3-chart .axis line {
    stroke: #999;
  }
  
  .d3-chart .axis text {
    fill: #999;
  }

.axis-x {
  font-size: 26px;
  color:  green;
}