
.d3-chart {
    width: 100%;
    height: 240px;
    /* background-color: rgb(201, 201, 201); */
  }
  
  .d3-chart .axis path,
  .d3-chart .axis line {
    stroke: #999;
  }
  
  .d3-chart .axis text {
    fill: #999;
  }

.axis-x {
  font-size: 26px;
  color:  green;
}


/* -------- test -------- */
/* .pie {
  margin: 20px;
  height: 500px;
} */


.path {
  fill: orange;
}




/* body {
  background-color: #ccc;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.widget {
  margin: 0 auto;
  width:350px;
  margin-top:50px;
  background-color:#fff;
  background-color: #222D3A;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);

}

.header{
  background-color: #eee;
  height:40px;
  color:#555;
  text-align: center;
  line-height: 40px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: 400;
  font-size: 1.5em;
  text-shadow: 1px 1px #fff;
  border-bottom: 1px solid #eaeaea;
}

.chart-container{
  padding:25px;
} */