/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~angular2-toaster/toaster.css';
.pointer {
  cursor: pointer;
}


/* .chartText {
  color: white;
  font-size: 16px;
} */

/* .pie {
  margin: 20px;
  height: 300px;
} */

.test2 {
  display: inline-block;
	margin: 25px;
	background-color: orange;
	color: white;
	padding: 10px;
	/* width: 30px;
	height: 30px; */
	text-align: center;
}

polyline {
	opacity: .55;
	stroke: black;
	stroke-width: 1px;
	fill: none;
}

.dot {
	stroke: greenyellow;
	stroke: black;
	stroke-width: 1px;
}

.path {
	background-color: rgb(70, 155, 155);
	
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis { font: 14px sans-serif; }

.area1 {
	fill: steelblue;
	opacity: .25;
}

.area2 {
	fill: rgb(253, 75, 75);
	opacity: .25;
}

.area3 {
	fill: rgb(52, 167, 52);
	opacity: .25;
}

.area4 {
	fill: rgb(194, 201, 94);
	opacity: .25;
}