<div class="container">
  <br>
  <button (click)='getBy()' 
    class="btn btn-outline-success">
  Dni</button>

  <button (click)='getBy("byWeek")' 
  class="btn btn-outline-warning">
  Tygodnie</button>

  <button (click)='getBy("byMonth")' 
  class="btn btn-outline-info">
  Miesiące</button>

  <div class="row" *ngIf="previousPeriod">
    <div class="col">
      <button (click)='animateMe()' 
      class="btn btn-outline-primary block top5">
      {{previousPeriod}}</button>
    </div>
  </div>
  <div *ngFor="let bill of bills; let i = index">
    <div class="row">
      <div class="col">
        <e-item2 [sectionBills]="bill" [i]="i"></e-item2>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="nextPeriod">
      <div class="col">
        <button (click)='animateMe()' 
        class="btn btn-outline-primary block top5">
        {{nextPeriod}}</button>
      </div>
    </div>
  <!-- <div *ngFor="let bill of groupBills">
    <e-item [dailyBills]="bill[1]"></e-item>
  </div> -->

</div>
